@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@font-face {
  font-family: "Debata";
  src: url("../assets/fonts/Debata-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted-foreground: var(--muted-foreground);
  --color-primary: var(--primary);
  --font-inter: var(--font-inter);
  --font-debata: "Debata", sans-serif;
  --font-jetbrains-mono: var(--font-jetbrains-mono);
  --color-border: var(--border);
}

:root {
  --background: #ffffff;
  --foreground: #f2f6fa;
  --muted-foreground: #65758c;
  --primary: #0f1729;
  --border: #f2f6fa;
}

.dark {
  --background: #030711;
  --foreground: #0f1629;
  --muted-foreground: #818fa3;
  --primary: #ffffff;
  --border: #0f1629;
}

@layer base {
  * {
    @apply border-border p-0 m-0;
  }
  body {
    @apply bg-background text-primary font-inter transition-colors duration-300;
  }
}

@layer utilities {
  .layout {
    @apply mx-auto px-5 md:px-10 xl:px-32;
  }
  .primary-btn {
    @apply rounded-full px-8 h-12 text-lg font-medium text-foreground w-52 shadow-sm cursor-pointer;
  }
  .outline-btn {
    @apply rounded-full px-8 h-12 text-lg font-medium border border-blue-300/30 shadow-sm hover:bg-foreground cursor-pointer w-52;
  }
  .hover-effect {
    @apply text-muted-foreground cursor-pointer hover:text-primary/80 transition-colors duration-200;
  }
}
